In [5]:
import pandas as pd
import seaborn as sns

In [6]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## describe()

In [7]:
df.describe()
# 숫자 정보만 사용 가능
# mean 평균, std 표준편차

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
df.describe(include='object')
# 글자 형태의 데이터 값도 포함해줘
# unique / top 가장 많이 출현한 데이터 / freq 그 데이터의 출현값

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

### count()

In [9]:
df.count()
# 비어있지 않은 값만 가지고 옴 (null값은 카운팅 X)

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [10]:
df['age'].count()
# 칼럼별로 카운팅

np.int64(714)

## mean()

In [11]:
df['age'].mean()

np.float64(29.69911764705882)

In [12]:
df.mean()
# 평균을 계산할 수 없는 값도 포함되어있기 때문
# 문자열 때문엥

TypeError: can only concatenate str (not "int") to str

In [ ]:
df.mean(numeric_only=True)
# 데이터프레임 내 모든 정보의 평균값을 구하고 싶을 때
# 이 경우 숫자 데이터만 뽑아서 평균값을 내줌

# df.mean(numeric_only=True, skipna=False)
# skipna 조건을 더하면 Nan 값은 포함하지 않고 평균을 내줌

In [ ]:
df.head()

In [ ]:
# 성인 남성 요금 평균
cond = df['adult_male'] == True
df.loc[cond, 'fare'].mean()

In [ ]:
# fare 30 ~ 40 지불 승객 & 1등석 => 나이 평균

cond1 = df['fare'] >= 30
cond2 = df['fare'] <= 40
cond3 = df['pclass'] == 1
df.loc[cond1 & cond2 & cond3].head()
df.loc[cond1 & cond2 & cond3, 'age'].mean()

## median()
- 중앙값
- 이상치가 너무 큰 경우 사용

In [ ]:
numbers = [1, 2, 10, 11, 100, 1000]
pd.Series(numbers).mean()

In [ ]:
pd.Series(numbers).median()

In [ ]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value, median_value)

# 평균값과 중앙값 차이가 크다면
# 이상치가 있을 수 있다고 생각할 수 있음

In [ ]:
df.sum(numeric_only=True)

In [ ]:
df['fare'].sum()

In [13]:
df['fare'].cumsum() # 누적합계, 보통 sum 사용

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

In [14]:
df['age'].cumprod() # 누적곱
# inf (무한대가 나왔당, 짱큰수~)

C:\Users\유승준\Desktop\DAMF2\pandas\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

## var() 분산

In [15]:
# 직접 분산을 계산해 봄

fare_mean = df['fare'].mean()

total = ((df['fare'] - fare_mean) ** 2).sum()
total_count = df['fare'].count()

my_var = total / total_count
print(my_var)

# 모든 데이터를 평균으로 빼고 제곱함 (음수제거위해)
# 그 다음 
# 시리즈에 연산을 넣으면 각각의 항목에 다 적용됨
# fare 시리즈에 해당 연산값이 모두 적용됨

2466.665311685043

In [16]:
# 판다스에 있는 분산계산 함수를 이용
df['fare'].var()

np.float64(2469.436845743116)

## std()

In [21]:
import numpy as np
df['fare'].var() # 분산 구하기
np.sqrt(df['fare'].var())

np.float64(49.6934285971809)

In [22]:
df['fare'].std()

np.float64(49.6934285971809)

## min(), max()

In [25]:
df['age'].min()

np.float64(0.42)

In [26]:
df['age'].max()

np.float64(80.0)

## agg() (aggregation)
- 특정 컬럼 설정 후 연산하고 싶은 함수를 모두 넣으면 됨

In [28]:
df['age'].agg(['max', 'min', 'count', 'mean'])

max       80.000000
min        0.420000
count    714.000000
mean      29.699118
Name: age, dtype: float64

In [29]:
df[['age', 'fare']].agg(['min', 'max'])

       age      fare
min   0.42    0.0000
max  80.00  512.3292

## quantile()

In [34]:
df['age'].quantile(0.1)
# 하위 10퍼센트

np.float64(14.0)

In [33]:
df['age'].quantile(0.8)
# 상위 20퍼센트 지점

np.float64(41.0)

In [39]:
df['age'].quantile(0.5)
# 50%

np.float64(28.0)

In [36]:
df['age'].median()
# 50%

np.float64(28.0)

## unique()
- 고유값 확인

In [42]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [45]:
df['who'].nunique()
# unique값이 몇 개인지

3

## mode()
- 최빈값

In [48]:
df['who'].mode()
# 가장 많이 등장한 데이터를 뽑아줌

0    man
Name: who, dtype: object

In [50]:
df['deck'].mode()
# - 데이터 스펙트럼이 좁아서 카테고리.......읭?

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

## corr()
- 각 컬럼끼리의 상관관계를 -1 ~ 1 로 표현

In [58]:
# 연산을 해 주는 함수이기 때문에 항상 numberic_only
# -1과 1에 가까운 값이 유의함

df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [63]:
df.corr(numeric_only=True)['survived']
# survived 컬럼 기준 값 불러오기

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64