In [1]:
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## describe()

In [8]:
df.describe()
# 숫자 정보만 사용 가능
# mean 평균, std 표준편차

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [11]:
df.describe(include='object')
# 글자 형태의 데이터 값도 포함해줘
# unique / top 가장 많이 출현한 데이터 / freq 그 데이터의 출현값

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

### count()

In [14]:
df.count()
# 비어있지 않은 값만 가지고 옴 (null값은 카운팅 X)

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [30]:
df['age'].count()
# 칼럼별로 카운팅

np.int64(714)

## mean()

In [31]:
df['age'].mean()

np.float64(29.69911764705882)

In [23]:
df.mean()
# 평균을 계산할 수 없는 값도 포함되어있기 때문
# 문자열 때문엥

TypeError: can only concatenate str (not "int") to str

In [46]:
df.mean(numeric_only=True)
# 데이터프레임 내 모든 정보의 평균값을 구하고 싶을 때
# 이 경우 숫자 데이터만 뽑아서 평균값을 내줌

# df.mean(numeric_only=True, skipna=False)
# skipna 조건을 더하면 Nan 값은 포함하지 않고 평균을 내줌

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [33]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [35]:
# 성인 남성 요금 평균
cond = df['adult_male'] == True
df.loc[cond, 'fare'].mean()

np.float64(24.864181750465548)

In [47]:
# fare 30 ~ 40 지불 승객 & 1등석 => 나이 평균

cond1 = df['fare'] >= 30
cond2 = df['fare'] <= 40
cond3 = df['pclass'] == 1
df.loc[cond1 & cond2 & cond3].head()
df.loc[cond1 & cond2 & cond3, 'age'].mean()

np.float64(44.095238095238095)

## median()
- 중앙값
- 이상치가 너무 큰 경우 사용

In [61]:
numbers = [1, 2, 10, 11, 100, 1000]
pd.Series(numbers).mean()

np.float64(187.33333333333334)

In [62]:
pd.Series(numbers).median()

np.float64(10.5)

In [66]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value, median_value)

# 평균값과 중앙값 차이가 크다면
# 이상치가 있을 수 있다고 생각할 수 있음

29.69911764705882 28.0

In [68]:
df.sum(numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
adult_male      537.0000
alone           537.0000
dtype: float64

In [69]:
df['fare'].sum()

np.float64(28693.9493)

In [72]:
df['fare'].cumsum() # 누적합계, 보통 sum 사용

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

In [77]:
df['age'].cumprod() # 누적곱
# inf (무한대가 나왔당, 짱큰수~)

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

## var() 분산

In [89]:
# 직접 분산을 계산해 봄

fare_mean = df['fare'].mean()

total = ((df['fare'] - fare_mean) ** 2).sum()
total_count = df['fare'].count()

my_var = total / total_count
print(my_var)

# 모든 데이터를 평균으로 빼고 제곱함 (음수제거위해)
# 그 다음 
# 시리즈에 연산을 넣으면 각각의 항목에 다 적용됨
# fare 시리즈에 해당 연산값이 모두 적용됨

2466.665311685043

In [90]:
# 판다스에 있는 분산계산 함수를 이용
df['fare'].var()

np.float64(2469.436845743116)