In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('penguins')`

In [11]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [10]:
df_copy = df.copy()
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [27]:
# 5000g 이상의 펭귄 출력

cond_g = df_copy['body_mass_g'] >= 5000
df_copy.loc[cond_g].head(20)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,Male
227,Gentoo,Biscoe,46.7,15.3,219.0,5200.0,Male
229,Gentoo,Biscoe,46.8,15.4,215.0,5150.0,Male
231,Gentoo,Biscoe,49.0,16.1,216.0,5550.0,Male
233,Gentoo,Biscoe,48.4,14.6,213.0,5850.0,Male
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,Male
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male
239,Gentoo,Biscoe,48.7,15.1,222.0,5350.0,Male
240,Gentoo,Biscoe,50.2,14.3,218.0,5700.0,Male
241,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,Female
243,Gentoo,Biscoe,46.3,15.8,215.0,5050.0,Male
244,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,Female
245,Gentoo,Biscoe,46.1,15.1,215.0,5100.0,Male
247,Gentoo,Biscoe,47.8,15.0,215.0,5650.0,Male
249,Gentoo,Biscoe,50.0,15.3,220.0,5550.0,Male
250,Gentoo,Biscoe,47.3,15.3,222.0,5250.0,Male
252,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,Female
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male

In [28]:
# Gentoo종의 flipper_length 평균

cond_gentoo = df_copy['species'] == 'Gentoo'
df_copy.loc[cond_gentoo, 'bill_length_mm'].mean()

np.float64(47.50487804878048)

In [33]:
# Female Chinstrap종의 bill_length 높은순 정렬
df_copy['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [34]:
cond1 = df_copy['species'] == 'Chinstrap'
cond2 = df_copy['sex'] == 'Female'
df_copy.loc[cond1 & cond2].sort_values('bill_length_mm', ascending=False).head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
196,Chinstrap,Dream,50.9,17.9,196.0,3675.0,Female
178,Chinstrap,Dream,50.5,18.4,200.0,3400.0,Female
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female
198,Chinstrap,Dream,50.1,17.9,190.0,3400.0,Female

In [55]:
# species(종)별 성별 구분하여 평균 몸무게 출력
# => ex) Adelie, Female / Adelie, male / Gentoo, Female...

cond_a = df_copy['species'] == 'Adelie'
cond_a_f = df_copy['sex'] == 'Female'
cond_a_m = df_copy['sex'] == 'Male'
adelie_female = int(df_copy.loc[cond_a & cond_a_f, 'body_mass_g'].mean())
adelie_male = int(df_copy.loc[cond_a & cond_a_m, 'body_mass_g'].mean())
print(f'암컷 Adelie의 평균 몸무게는 {adelie_female}g 입니다.')
print(f'수컷 Adelie의 평균 몸무게는 {adelie_male}g 입니다.')

# Nan값 해결 후 진행

암컷 Adelie의 평균 몸무게는 3368g 입니다.
수컷 Adelie의 평균 몸무게는 4043g 입니다.

In [62]:
# chinstrap 수컷에 결측치가 있음

cond_c = df_copy['species'] == 'Chinstrap'
cond_c_f = df_copy['sex'] == 'Female'
cond_c_m = df_copy['sex'] == 'male'
chinstrap_female = int(df_copy.loc[cond_c & cond_c_f, 'body_mass_g'].mean(skipna=False))
chinstrap_male = df_copy.loc[cond_c & cond_c_m, 'body_mass_g'].mean(skipna=False)
print(f'암컷 chinstrap의 평균 몸무게는 {chinstrap_female}g 입니다.')
print(f'수컷 chinstrap의 평균 몸무게는 {chinstrap_male}g 입니다.')

암컷 Adelie의 평균 몸무게는 3527g 입니다.
수컷 Adelie의 평균 몸무게는 nang 입니다.

In [66]:
# gentoo 수컷에 결측치가 있음

cond_g = df_copy['species'] == 'Gentoo'
cond_g_f = df_copy['sex'] == 'Female'
cond_g_m = df_copy['sex'] == 'male'
gentoo_female = int(df_copy.loc[cond_g & cond_g_f, 'body_mass_g'].mean(skipna=False))
gentoo_male = df_copy.loc[cond_g & cond_g_m, 'body_mass_g'].mean(skipna=False)
print(f'암컷 Gentoo의 평균 몸무게는 {gentoo_female}g 입니다.')
print(f'수컷 Gentoo의 평균 몸무게는 {gentoo_male}g 입니다.')

암컷 Gentoo의 평균 몸무게는 4679g 입니다.
수컷 Gentoo의 평균 몸무게는 nang 입니다.

In [71]:
df_copy['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [72]:
df_copy['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [75]:
df_copy.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [77]:
# body_mass_g 결측치 채우기
# => 같은종 같은섬의 평균으로
# 결측치의 위치만 뽑아낼 수 있는 함수가 있을깡...

missing_positions = list(zip(*df_copy.isna().to_numpy().nonzero()))
missing_positions

[(np.int64(3), np.int64(2)),
 (np.int64(3), np.int64(4)),
 (np.int64(3), np.int64(5)),
 (np.int64(3), np.int64(6)),
 (np.int64(8), np.int64(6)),
 (np.int64(9), np.int64(6)),
 (np.int64(10), np.int64(6)),
 (np.int64(11), np.int64(6)),
 (np.int64(47), np.int64(6)),
 (np.int64(246), np.int64(6)),
 (np.int64(286), np.int64(6)),
 (np.int64(324), np.int64(6)),
 (np.int64(336), np.int64(6)),
 (np.int64(339), np.int64(2)),
 (np.int64(339), np.int64(4)),
 (np.int64(339), np.int64(5)),
 (np.int64(339), np.int64(6))]

In [79]:
missing_po = [(df_copy.index[row], df_copy.columns[col]) for row, col in zip(*df_copy.isna().to_numpy().nonzero())]

# 결과 출력
for index, column in missing_po:
    print(f"결측치 위치 -> 행: {index}, 컬럼: {column}")

결측치 위치 -> 행: 3, 컬럼: bill_length_mm
결측치 위치 -> 행: 3, 컬럼: flipper_length_mm
결측치 위치 -> 행: 3, 컬럼: body_mass_g
결측치 위치 -> 행: 3, 컬럼: sex
결측치 위치 -> 행: 8, 컬럼: sex
결측치 위치 -> 행: 9, 컬럼: sex
결측치 위치 -> 행: 10, 컬럼: sex
결측치 위치 -> 행: 11, 컬럼: sex
결측치 위치 -> 행: 47, 컬럼: sex
결측치 위치 -> 행: 246, 컬럼: sex
결측치 위치 -> 행: 286, 컬럼: sex
결측치 위치 -> 행: 324, 컬럼: sex
결측치 위치 -> 행: 336, 컬럼: sex
결측치 위치 -> 행: 339, 컬럼: bill_length_mm
결측치 위치 -> 행: 339, 컬럼: flipper_length_mm
결측치 위치 -> 행: 339, 컬럼: body_mass_g
결측치 위치 -> 행: 339, 컬럼: sex